{% extends "base.html" %}
{% load static %}

{% block title %}
    Artículos y Noticias sobre Marihuana - Información Actualizada en Cannamente
{% endblock %}

{% block description %}
    Descubre las últimas noticias y los artículos más informativos sobre marihuana en Cannamente. Nuestra biblioteca de contenido está diseñada para proporcionarte información precisa y relevante, cubriendo una amplia gama de temas relacionados con la marihuana. Mantente al día con las últimas tendencias, investigaciones, beneficios terapéuticos y mucho más. Únete a nuestra comunidad para expandir tus conocimientos.
{% endblock %}

{% block content %}

    <main class="main">
        <div class="blog">
            <div class="container">
                {% if articles %}
                    <!-- Display the latest article -->
                    {% with articles|first as latest_article %}
                    <article class="article article--bg">
                        <a href="{% url 'article_detail' slug=latest_article.slug %}" class="article__img">
                            {% for image in latest_article.images.all %}
                                {% if image.is_preview %}
                                    <img src="{{ image.img.url }}" alt="{{ image.img_alt_text }}">
                                {% endif %}
                            {% endfor %}
                        </a>
                        <div class="article__inner">
                            <span class="article__events">
                                {% for category in latest_article.category.all %}
                                    {{ category.name }}
                                {% endfor %}
                            </span>
                            <div class="article__content">
                                <h2 class="article__title">
                                    <a href="{% url 'article_detail' slug=latest_article.slug %}">{{ latest_article.title }}</a>
                                </h2>
                                <div class="article__descr">
                                    <p>{{ latest_article.description }}</p>
                                </div>
                            </div>
                            <div class="article__footer">
                                <div class="article__footer-descr">
                                    <div class="article__footer-time">
                                        <time>{{ latest_article.date_posted|date:"d/m/Y" }}</time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endwith %}

                    <!-- Iterate over the rest of the articles -->
                    <div class="blog__items">
                        {% for article in articles|slice:"1:" %}
                            <article class="article">
                                <a href="{% url 'article_detail' slug=article.slug %}">
                                    <div class="article__img">
                                        {% for image in article.images.all %}
                                            {% if image.is_preview %}
                                                <img src="{{ image.img.url }}" alt="{{ image.img_alt_text }}">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="article__content">
                                        <span class="article__events">
                                            {% for category in article.category.all %}
                                                {{ category.name }}
                                            {% endfor %}
                                        </span>
                                        <h2 class="article__title">{{ article.title }}</h2>
                                        <div class="article__descr">
                                            <p>{{ article.description }}</p>
                                        </div>
                                    </div>
                                    <div class="article__footer">
                                        <div class="article__footer-descr">
                                            <div class="article__footer-time">
                                                <time>{{ article.date_posted|date:"d/m/Y" }}</time>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No articles found</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}

