{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ article.description }}
{% endblock %}

{% block description %}
    {{ article.description }}
{% endblock %}
{% block content %}
<div class="container flex-grow">
<div class="article">
    <div>Categories:
        {% for category in article.category.all %}
            <a href="#" class="category-tag" data-category="{{ category.name }}">{{ category.name }}</a>
        {% endfor %}
    </div>
    <h2>{{ article.title }}</h2>
    <p>{{ article.created_at }}</p><br>
    {% if image %}
        <img src="{{ image.img.url }}" alt="{{ image.img_alt_text }}">
    {% endif %}
    <div>{{ article.text_content|safe }}</div>
</div>
</div>

{% endblock content %}

