{% extends "base.html" %}
{% load static %}

{% block title %}
    Artículos y Noticias sobre Marihuana - Información Actualizada en Cannamente
{% endblock %}

{% block description %}
    Descubre las últimas noticias y los artículos más informativos sobre marihuana en Cannamente. Nuestra biblioteca de contenido está diseñada para proporcionarte información precisa y relevante, cubriendo una amplia gama de temas relacionados con la marihuana. Mantente al día con las últimas tendencias, investigaciones, beneficios terapéuticos y mucho más. Únete a nuestra comunidad para expandir tus conocimientos.
{% endblock %}

{% block content %}
<div class="container flex-grow">
    <div id="articles">
        {% for article in articles %}
            <div class="article">
                <h2><a href="{% url 'article_detail' slug=article.slug %}">{{ article.title }}</a></h2>

                {% for image in article.images.all %}
                    {% if image.is_preview %}
                        <img src="{{ image.img.url }}" alt="{{ image.img_alt_text }}">
                    {% endif %}
                    <div>{{ article.description }}</div>
                {% endfor %}
                <div>Categories:
                    {% for category in article.category.all %}
                        <a href="#" class="category-tag" data-category="{{ category.name }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p>No articles found</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block page_scripts %}
    <script>
$(document).on('click', '.category-tag', function(e) {
    e.preventDefault();
    const category = $(this).data('category');

    $.ajax({
        url: '/articles/',
        data: {
            'category': category,
        },
        dataType: 'html',
        success: function(data) {
            $('#articles').html(data);
        }
    });
});

</script>
{% endblock page_scripts %}
