<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" dir="ltr" lang="es">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" dir="ltr" lang="es">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="es">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" dir="ltr" lang="es">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9) ]><!-->
<html dir="ltr" lang="es">
<!--<![endif]-->
{% load static %}
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HTGQ1DC07H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HTGQ1DC07H');
    </script>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body class="">
<main class="page">
{% block header_block %}
    <header class="header container">
        <a href="/" class="logo">
            <img src="{% static 'img/logo.svg' %}" alt="" width="195" height="18" loading="lazy" decoding="async" class="logo_img">
        </a>
        <div class="menu-btn">
            <img src="{% static 'img/menu-btn.svg' %}" alt="" width="24" height="24" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="menu-btn-ico">
            <img src="{% static 'img/close.svg' %}" alt="" width="24" height="24" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="menu-btn-close">
        </div>
        <div class="header-menu-wrapper">
            <!-- Форма поиска -->
            <form action="{% url 'search' %}" method="get" id="searchForm" class="header__search">
                <input type="text" name="q" class="header__search_input form-control" placeholder="Search">
                <button type="submit" class="header__search_submit" data-toggle="modal" data-target="#exampleModal">
                    <img src="{% static 'img/search.svg' %}" alt="" width="15" height="15" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="img_center">
                </button>
            </form>
            <!-- Существующее меню (отображается только на мобильных) -->
            <nav class="menu">
                <div class="menu_caption">Menu</div>
                <ul class="menu_ul">
                    <li class="menu_li">
                        <a href="{% url 'strain_list' %}" class="menu_a">Variedades</a>
                    </li>
                    <li class="menu_li">
                        <a href="{% url 'terpene_list' %}" class="menu_a">Terpenos</a>
                    </li>
                    <li class="menu_li">
                        <a href="{% url 'article_list' %}" class="menu_a">Artículos</a>
                    </li>
                    <li class="menu_li">
                        <a href="{% url 'global_map_redirect' %}" class="menu_a">Tiendas/Dispensarios</a>
                    </li>
                </ul>
            </nav>
            <!-- Новый горизонтальный блок меню (отображается только на десктопах) -->
            <nav class="desktop-menu">
                <ul class="desktop-menu_ul">
                    <li class="desktop-menu_li">
                        <a href="{% url 'strain_list' %}" class="desktop-menu_a">Variedades</a>
                    </li>
                    <li class="desktop-menu_li">
                        <a href="{% url 'terpene_list' %}" class="desktop-menu_a">Terpenos</a>
                    </li>
                    <li class="desktop-menu_li">
                        <a href="{% url 'article_list' %}" class="desktop-menu_a">Artículos</a>
                    </li>
                    <li class="desktop-menu_li">
                        <a href="{% url 'global_map_redirect' %}" class="desktop-menu_a">Tiendas/Dispensarios</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock header_block %}

    {% block content %}
       {% block intro %} {% endblock intro %}
    {% endblock content %}

    {% block footer %}
            <footer class="footer"><div class="container">
    	<div class="footer_row">
	    	<div class="footer_col footer_col--1 ">
	    		<a href="{% url 'strain_list' %}" class="footer_a">Variedades</a><br>
                <a href="{% url 'terpene_list' %}" class="footer_a">Terpenos</a><br>
	    		<a href="{% url 'article_list' %}" class="footer_a">Artículos</a><br>
                 <a href="{% url 'global_map_redirect' %}" class="footer_a">Tiendas/Dispensarios</a><br>
	    	</div>
            {% block footer_col_2 %}

        <div class="footer_col footer_col--2"></div>

            {% endblock footer_col_2 %}
	    	<div class="footer_col footer_col--3">
	    		<div class="text-left inline-block">
		    		<a href="#" class="logo footer--logo">
			            <img src="{% static 'img/logo.svg' %}" alt="" width="195" height="18" loading="lazy" decoding="async" class="logo_img">
			        </a><br>
		    		<a href="mailto:cannament@gmail.com">
		    			cannament@gmail.com
		    		</a>
	    		</div>
	    	</div>
	    	<div class="footer_col footer_col--4">
	    		<img src="{% static 'img/footer.svg' %}" alt="" width="" height="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="footer_img">
	    	</div>
    	</div>
    	<div class="footer_copyright">
            <p>&copy; Copyright 2023-2024</p>
        </div>
    </div></footer>
    {% endblock footer %}

</main>
        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Resultado de la búsqueda</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img src="{% static 'img/close.svg' %}" alt="" width="24" height="24" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="menu-btn-close">
            </button>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
    {% block common_scripts %}
        <script src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
        <script src="{% static 'js/jquery.raty.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/collapse.js' %}"></script>
        <script src="{% static 'js/modal.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/strains_search.js' %}"></script>
        <script type="text/javascript">
            var starOnUrl = "{% static 'img/raty_on.svg' %}";
            var starOffUrl = "{% static 'img/raty_off.svg' %}";
            var starHalfUrl = "{% static 'img/star_half.svg' %}";
        </script>

        <script src="{% static 'js/script.js' %}"></script>
    {% endblock common_scripts %}

    {% block page_scripts %} {% endblock page_scripts %}
</body>
</html>
