{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ strain.name }}
{% endblock %}

{% block keywords %}
    {{ strain.keywords }}
{% endblock %}

{% block description %}
    {{ strain.description }}
{% endblock %}

{% block content %}
    <div class="container flex-grow">
    	<div class="h2">Artículos</div>
    	<section class="post owl-carousel mb-30">
    		<a href="#" class="post_item"><span class="post_item_in">
    			<img src="{% static 'pic/post1.jpg' %}" alt="" width="380" height="267" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="post_item_img">
    			<span class="post_item_descript">
    				<span class="post_item_h3">Article title</span>
    				<span class="post_item_p">The text of the article under the title The text of the article under the title</span>
    			</span>
    		</span></a>
    		<a href="#" class="post_item"><span class="post_item_in">
    			<img src="{% static 'pic/post1.jpg' %}" alt="" width="380" height="267" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="post_item_img">
    			<span class="post_item_descript">
    				<span class="post_item_h3">Article title</span>
    				<span class="post_item_p">The text of the article under the title The text of the article under the title</span>
    			</span>
    		</span></a>
    		<a href="#" class="post_item"><span class="post_item_in">
    			<img src="{% static 'pic/post1.jpg' %}" alt="" width="380" height="267" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="post_item_img">
    			<span class="post_item_descript">
    				<span class="post_item_h3">Article title</span>
    				<span class="post_item_p">The text of the article under the title The text of the article under the title</span>
    			</span>
    		</span></a>
    		<a href="#" class="post_item"><span class="post_item_in">
    			<img src="{% static 'pic/post1.jpg' %}" alt="" width="380" height="267" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="post_item_img">
    			<span class="post_item_descript">
    				<span class="post_item_h3">Article title</span>
    				<span class="post_item_p">The text of the article under the title The text of the article under the title</span>
    			</span>
    		</span></a>
    	</section>
    	<div class="h2"> Las mejores variedades de cannabis </div>
    	<section class="post post--row mb-30">
    		<a href="#" class="post_item post_item--col_3"><span class="post_item_in post_item_in--2">
    			<img src="{% static 'pic/post2.jpg' %}" alt="" width="380" height="267" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="post_item_img">
    			<span class="post_item_descript post_item_descript--2">
    				<span class="post_item_h3">Top 10 Sativa</span>
    			</span>
    		</span></a>
    		<a href="#" class="post_item post_item--col_3"><span class="post_item_in post_item_in--2">
    			<img src="{% static 'pic/post2.jpg' %}" alt="" width="380" height="267" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="post_item_img">
    			<span class="post_item_descript post_item_descript--2">
    				<span class="post_item_h3">Top 10 Indica</span>
    			</span>
    		</span></a>
    		<a href="#" class="post_item post_item--col_3"><span class="post_item_in post_item_in--2">
    			<img src="{% static 'pic/post2.jpg' %}" alt="" width="380" height="267" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="post_item_img">
    			<span class="post_item_descript post_item_descript--2">
    				<span class="post_item_h3">Top 10 Hibrida</span>
    			</span>
    		</span></a>
    	</section>
    	<div class="h2">Descubre variedades de cannabis TOP</div>
        <section class="ctg">
        {% include "strain_items.html" %}
    	</section>
    	<div class="text-center">
    		<a href="{% url 'strain_list' %}" class="btn btn--outline_с">Ver todos</a>
    	</div>
    </div>
{% endblock content %}

{% block footer_col_2 %}
    <div class="footer_col footer_col--2">
        Bienvenidos a nuestro recurso, un catálogo integral dedicado a las cepas de marihuana y una fuente de información relevante para entusiastas y expertos. Descubre las descripciones detalladas de cada cepa en nuestro catálogo y explora nuestra amplia gama de artículos educativos para expandir tu conocimiento en este campo. Aprende, descubre y sumérgete en el fascinante mundo de la marihuana con nosotros.
    </div>
{% endblock footer_col_2 %}



