{% extends "base.html" %}
{% load static %}

{% block title %}
    Mapa de Tiendas de CBD en {{ country|upper }} - Cannamente
{% endblock %}

{% block keywords %}
    tiendas, CBD, mapa, localización, Cannamente, {{ country }}
{% endblock %}

{% block description %}
    Encuentra tiendas de CBD en {{ country|upper }} con nuestro mapa interactivo. Descubre las mejores tiendas y obtén direcciones fácilmente.
{% endblock %}

{% block content %}
    <div class="container flex-grow">
        <div class="h2">Mapa de Tiendas de CBD en {{ country|upper }}</div>
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
        <div id="map-container" class="map-container">
            <div id="map" class="map">
                 {{ map_html|safe }}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}

{% block footer_col_2 %}
    <div class="footer_col footer_col--2">
        Encuentra las mejores tiendas de CBD en {{ country|upper }} con nuestro mapa interactivo.
    </div>
{% endblock footer_col_2 %}
