{% extends "base.html" %}
{% load static %}
{% load json_ld %}
{% load i18n %}
{% block title %}
    {{ strain.name }} {% trans "cepas de marihuana" %}
{% endblock %}

{% block keywords %}
    {{ strain.keywords }}
{% endblock %}

{% block description %}
    {{ strain.description }}
{% endblock %}

{% block content %}
    {% block meta_tags %}
        {% render_json_ld strain.structured_data %}
    {% endblock %}
    
    <div class="blog">
        <div class="container flex-grow">
            <h1>{{ strain.name }}</h1>
            <div class="tovar tavar--section">
            <div class="tovar_col tovar_col--l">
                 {% if strain.img %}
                <a href="#" data-fancybox="gallery1" class="tovar_imgwrap">
                    <img src="{{ strain.img.url }}" alt="{{ strain.img_alt_text }}" width="500" height="500" class="tovar_img">
                </a>
                {% else %}
                 <a href="#" data-fancybox="gallery1" class="tovar_imgwrap">
                    <img src="{% static 'img/no_img.png' %}" alt="{{ strain.name }}" width="380" height="267" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="object_fit">
                </a>
                {% endif %}
            </div>
            <div class="tovar_col tovar_col--r">
                <table class="tovar__info">
                    <tr>
                        <td class="tovar__info_th">{% trans "Categoría" %}:</td>
                        <td class="tovar__info_td">{{ strain.category }}</td>
                    </tr>
                    <tr>
                        <td class="tovar__info_th">{% trans "THC" %}:</td>
                        <td class="tovar__info_td">{{ strain.thc|floatformat:"0" }}%</td>
                    </tr>
                    {% if strain.cbd is not none %}
                        <tr>
                            <td class="tovar__info_th">{% trans "CBD" %}:</td>
                            <td class="tovar__info_td">{{ strain.cbd|floatformat:"0" }}%</td>
                        </tr>
                    {% elif strain.cbg is not none %}
                        <tr>
                            <td class="tovar__info_th">{% trans "CBG" %}:</td>
                            <td class="tovar__info_td">{{ strain.cbg|floatformat:"0" }}%</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="tovar__info_th">{% trans "Valoración" %}:</td>
                        <td class="tovar__info_td"><div class="raty raty--tovar" data-score="{{ strain.rating }}" data-readonly="true"></div></td>
                    </tr>
                </table>
                    <div class="tovar__param">
                        <div class="tovar__param_ico">
                            <img src="{% static 'img/tovar_info1.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
                        </div>
                        <span>{% trans "Sensaciones" %}:&nbsp;<span class="color-grey">{% for feeling in strain.feelings.all %}{{ feeling.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
                    </div>
                    <div class="tovar__param">
                        <div class="tovar__param_ico">
                            <img src="{% static 'img/tovar_info2.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
                        </div>
                        <span>{% trans "Negativos" %}:&nbsp;<span class="color-grey">{% for negative in strain.negatives.all %}{{ negative.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
                    </div>
                    <div class="tovar__param">
                        <div class="tovar__param_ico">
                            <img src="{% static 'img/tovar_info3.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
                        </div>
                        <span>{% trans "Sabores" %}:&nbsp;<span class="color-grey">{% for flavor in strain.flavors.all %}{{ flavor.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
                    </div>
                    <div class="tovar__param">
                        <div class="tovar__param_ico">
                            <img src="{% static 'img/tovar_info4.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
                        </div>
                        <span>{% trans "Ayuda con" %}:&nbsp;<span class="color-grey">{% for help in strain.helps_with.all %}{{ help.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
                    </div>
                    <!-- Terpeno dominante -->
                    {% if strain.dominant_terpene %}
                        <div class="tovar__param">
                            <div class="tovar__param_ico">
                                <img src="{% static 'img/tovar_table_0.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
                            </div>
                            <span>{% trans "Terpeno dominante" %}:&nbsp;<span class="color-grey">{{ strain.dominant_terpene.name }}</span></span>
                        </div>
                    {% endif %}

                    <!-- OTROS TERPENOS -->
                    {% if strain.other_terpenes.all %}
                        <div class="tovar__param">
                            <div class="tovar__param_ico">
                                <img src="{% static 'img/tovar_table_0.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
                            </div>
                            <span>{% trans "Otros terpenos" %}:&nbsp;<span class="color-grey">{% for terpene in strain.other_terpenes.all %}{{ terpene.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
                        </div>
                    {% endif %}
            </div>
            </div>
        
            <div class="tovar--section">
            <div class="tovar_text">{{ strain.text_content|safe }}</div>
            </div>
        
            <div class="h2">{% trans "Parámetros similares" %}</div>
            <section class="ctg">
                {% include "strain_items.html" %}
            </section>
            <div class="text-center">
            <a href="{% url 'strain_list' %}" class="btn btn--outline_с">{% trans "Ver más" %}</a>
            </div>
        </div>
    </div>
  {% endblock content %}


