{% extends "base.html" %}

{% block content %}
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Canna</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Strains</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <h2>{{ strain.name }}</h2>
    <div class="row">
      <div class="col s12 m6">
        <img src="{{ strain.img.url }}" alt="{{ strain.name }}" class="responsive-img">
      </div>
      <div class="col s12 m6">
        <p><strong>Category:</strong> {{ strain.category }}</p>
        <p><strong>Rating:</strong> {{ strain.rating }}</p>
        <p><strong>THC:</strong> {{ strain.thc }}%</p>
        {% if strain.cbd %}
          <p><strong>CBD:</strong> {{ strain.cbd }}%</p>
        {% endif %}
        {% if strain.cbg %}
          <p><strong>CBG:</strong> {{ strain.cbg }}%</p>
        {% endif %}
        <p><strong>Feelings:</strong> {% for feeling in strain.feelings.all %}{{ feeling.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        <p><strong>Negatives:</strong> {% for negative in strain.negatives.all %}{{ negative.name }}{% if not forloop.last %}, {% endif %}{%endfor %}</p>
<p><strong>Helps with:</strong> {% for help in strain.helps_with.all %}{{ help.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p><strong>Flavors:</strong> {% for flavor in strain.flavors.all %}{{ flavor.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p><strong>Description:</strong> {{ strain.text_content }}</p>
</div>
</div>

  </div>
{% endblock content %}
