{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ strain.name }}
{% endblock %}

{% block keywords %}
    {{ strain.keywords }}
{% endblock %}

{% block description %}
    {{ strain.description }}
{% endblock %}

{% block content %}
<div class="container flex-grow">
    <h1>{{ strain.name }}</h1>
    <div class="tovar tavar--section">
    <div class="tovar_col tovar_col--l">
         {% if strain.img %}
        <a href="{{ strain.img.url }}" data-fancybox="gallery1" class="tovar_imgwrap">
            <img src="{{ strain.img.url }}" alt="{{ strain.img_alt_text }}" width="500" height="500" class="tovar_img">
        </a>
        {% else %}
        <img src="{% static 'img/no_img.png' %}" alt="{{ strain.name }}" width="380" height="267" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="object_fit">
        {% endif %}
    </div>
    <div class="tovar_col tovar_col--r">
        <table class="tovar__info">
            <tr>
                <td class="tovar__info_th">Categoría:</td>
                <td class="tovar__info_td">{{ strain.category }}</td>
            </tr>
            <tr>
                <td class="tovar__info_th">Thc:</td>
                <td class="tovar__info_td">{{ strain.thc }}%</td>
            </tr>
            {% if strain.cbd is not none %}
                <tr>
                    <td class="tovar__info_th">Cbd:</td>
                    <td class="tovar__info_td">{{ strain.cbd }}%</td>
                </tr>
            {% elif strain.cbg is not none %}
                <tr>
                    <td class="tovar__info_th">Cbg:</td>
                    <td class="tovar__info_td">{{ strain.cbg }}%</td>
                </tr>
            {% endif %}
            <tr>
                <td class="tovar__info_th">Valoración:</td>
                <td class="tovar__info_td"><div class="raty raty--tovar" data-score="{{ strain.rating }}" data-readonly="true"></div></td>
            </tr>
        </table>
        <div class="tovar__param">
            <div class="tovar__param_ico">
                <img src="{% static 'img/tovar_info1.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
            </div>
            <span>Sensaciones:&nbsp;<span class="color-grey">{% for feeling in strain.feelings.all %}{{ feeling.name|lower }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
        </div>
        <div class="tovar__param">
            <div class="tovar__param_ico">
                <img src="{% static 'img/tovar_info2.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
            </div>
            <span>Negativos:&nbsp;<span class="color-grey">{% for negative in strain.negatives.all %}{{ negative.name|lower }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
        </div>
        <div class="tovar__param">
            <div class="tovar__param_ico">
                <img src="{% static 'img/tovar_info3.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
            </div>
            <span>Sabores:&nbsp;<span class="color-grey">{% for flavor in strain.flavors.all %}{{ flavor.name|lower }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
        </div>
        <div class="tovar__param">
            <div class="tovar__param_ico">
                <img src="{% static 'img/tovar_info4.svg' %}" alt="" width="45" height="45" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
            </div>
            <span>Ayuda con:&nbsp;<span class="color-grey">{% for help in strain.helps_with.all %}{{ help.name|lower }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
        </div>
    </div>
    </div>

    <div class="tovar--section">
    <h2>Más</h2>
    <div class="tovar_text">{{ strain.text_content }}</div>
    </div>

    <div class="h2">Parámetros similares</div>
    <section class="ctg">
        {% include "strain_items.html" %}
    </section>
    <div class="text-center">
    <a href="{% url 'strain_list' %}" class="btn btn--outline_с">Ver todos</a>
    </div>
</div>

  {% endblock content %}


	
    

